.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 240px;
  box-sizing: border-box;
  border: 1px solid transparent;

  font-family: "Manrope-600", sans-serif;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: #121212;
  cursor: pointer;
  transition: all 0.2s;

  &__errow {
    margin-left: 24px;
  
    &--white {
      display: none;
    }
  }

  &--primary {
    background: #03839e;
    color: #f8f8f8;

    &:hover {
      opacity: 80%;
    }
    .button__errow--white {
      display: inline-block;
    }

    .button__errow--black {
      display: none;
    }
  }

  &--primary2 {
    background: #ffe339;

    &:hover {
      background: #FFEC7A;
    }  
  }

  &--secondary {
    border: 1px solid #03839e;
    background: #f8f8f8;

    &:hover {
      background: #03839e;
      color: #f8f8f8;

      .button__errow--white {
        display: inline-block;
      }
  
      .button__errow--black {
        display: none;
      }
    }
  }
}
